@font-face {
  font-family: Syncopate;
  src:  url('../bft/fonts/Syncopate400.ttf'),
        url('../btf/fonts/Syncopate700.ttf');
}

@font-face {
  font-family: Quicksand;
  src:  url('../bft/fonts/Quicksand300.ttf'),
        url('../bft/fonts/Quicksand400.ttf'),
        url('../btf/fonts/Quicksand700.ttf');
}


body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  min-width: 920px;
  min-height: 500px;
}

html {
  height: 100%;
}
body {
  padding: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

header {
  position: relative;
  z-index: 10;
}

h1, h2 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-family: 'Syncopate', sans-serif;
  width: 100%;
  font-size: 92px;
  line-height: 90px;
  color: #50D9E3;
  text-shadow: 3px 3px 3px rgba(0,0,0,1);
}

h1 span {
  color: #FFFC40;
  font-size: 60px;
  line-height: ;
}

.content h1 {
  font-size: 32px;
  font-weight: 700;
  color: #FFFC40;
  padding-top: 10px;
}

h2 {
  color: #FFF;
  font-size: 40px;
  font-weight: 300;
  width: 100%;
  line-height: 24px;
}

.nav #logo {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 75px;
  padding: 0;
}

.main {
  float: left;
  margin: 0 auto;
}
.main section.page1 .page_container {
  text-align: right;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  margin-right: 20px;
  height: 100px;
  width: 100%;
  z-index: 3;
}
.main section .page_container {
  position: absolute;
  left: 180px;
  top: 20px;
  bottom: 20px;
  right: 20px;
  height: auto;
  width: auto;
  z-index: 3;
}

.main section .page_container .top_container {
  position: absolute;
  height:100px;
  width: 100%;
  text-align: left;
  /*background-color: rgba(0,0,0,.3);*/
}

.main section .page_container .left_container {
  position: absolute;
  height:100%;
  left:0;
  width: 49%;
  text-align: center;
  /*background-color: rgba(0,0,0,.3);*/
}
.main section .page_container .right_container {
  position: absolute;
  height:100%;
  right:0;
  width: 49%;
  text-align: center;
  /*background-color: rgba(0,0,0,.3);*/
}

.left_container .content, .right_container .content {
  position: absolute;
  display: block;
  top: 100px; bottom: 0;
  left: 0; right: 0;
  padding: 0 20px;
  width: auto;
  height: auto;
  background-color: rgba(0,0,0,.6);
  color: #FFF;
  font-weight: 400;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: auto;
}

.content ul {
  list-style: none;
  font-size: 1.2em;
  font-weight: 400;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

.content ul li:before {
  color: #FFFC40;
  content: "★  ";
}

.form-interesse-consultoria, .form-interesse-personal {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  padding: 10px 20px 0 20px;
  margin: 0 10px 10px 10px;
  width: auto;
  height: 90px;
  background-color: rgba(255,255,255,.7);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: auto;
}

#grid-time {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 100px;
  left: 0; right: 0; bottom: 0;
  width: auto;
  height: auto;
  text-align: center;
}

#grid-time .unit-time {
  display: inline;
  float: left;
  height: 50%;
  width: 25%;
  background-size: cover;
}

#time1 {background-image: url(../bft/images/time1.png);}
#time2 {background-image: url(../bft/images/time2.png);}
#time3 {background-image: url(../bft/images/time3.png);}
#time4 {background-image: url(../bft/images/time4.png);}
#time5 {background-image: url(../bft/images/time5.png);}
#time6 {background-image: url(../bft/images/time6.png);}
#time7 {background-image: url(../bft/images/time7.png);}
#time8 {background-image: url(../bft/images/time8.png);}

.main section  {
  overflow: hidden;
  background-size: cover;
  text-align: left;
}

.main section.page1 {
  background-image: url(../bft/images/muque.jpg);
}
.main section.page2 {
  background-image: url(../bft/images/forca-fem.jpg);
}
.main section.page3 {
  background-image: url(../bft/images/corrida.jpg);
}
.main section.page4 {
  background-image: url(../bft/images/forca-mas.jpg);
}
.main section.page5 {
  background-image: url(../bft/images/suando.jpg);
}
.main section.page6 {
  background-image: url(../bft/images/fita.jpg);
}

.onepage-wrapper {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper section {
  width: 100%;
  height: 100%;
}

ul.onepage-pagination {
  position: absolute;
  left: 0; top: 0; bottom: 0; right: 0;
  height: 300px;
  width: 140px;
  padding: 0 10px;
  margin: auto 0;
  z-index: 5;
  list-style: none;
  text-align: center;
}
.onepage-pagination li {
  padding: 23px 0;
  font-family: 'Syncopate', sans-serif;
  font-size: .8em;
  font-weight: 700;
  width: 160px;
  height: auto;
  text-align: left;
}
.onepage-pagination li a{
  width: 140px;
  display: inline-block;
  position: absolute;
  padding-top: 15px;
  height: 25px;
  background-color: #50D9E3; 
  color: #266B96; 
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  /*border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;*/
  text-align: center;
}

.onepage-pagination li a:hover {
  background-color: #5AF4FF;
}

.onepage-pagination li a.active{
  background: none;
  color: #FFF;
  border: 1px solid #FFF;
  text-shadow: none;
}

.nav{
  position: absolute;
  left: 0;
  top: 20px;
  bottom: 20px;
  height: auto;
  width: 160px;
  z-index: 3;
  text-align: center;
  background-color: rgba(0,0,0,.8);
  /*border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;*/
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
  /*min-height: 500px;*/
}

.nav #form-cadastro {
  position: absolute;  
  bottom: 0;
  width: 160px;
  height: auto;
  text-align: center;
  padding: 0;
}

#mc_embed_signup {
  background: none;
  font-weight: 100;
  clear:left;  
  width:100%;
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {display:block; position:relative; text-align:center; padding:0}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:none; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {
  clear:both; 
  border: 0 none; 
  /*border-radius: 0 0 5px 0;*/
  background-color: #50D9E3; 
  color: #266B96; 
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  cursor: pointer; 
  display: inline-block; 
  height: 32px; 
  line-height: 32px; 
  margin: 0; padding:0; 
  text-align: center; 
  text-decoration: none; 
  vertical-align: top;
  white-space: nowrap; 
  width: 160px;}
#mc_embed_signup .button:hover {background-color:#5AF4FF;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}
#mc_embed_signup label {display:none; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {display:block;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: 100; 
  padding:8px 0; 
  margin:0; 
  left:0;
  text-indent:5px; 
  text-align:center; 
  width:160px; 
  border-radius: 0;}
#mc_embed_signup input.button {
  display:block; 
  width:160px; 
  margin:0;
  padding-top: 2px;
  font-family: 'Syncopate', sans-serif;
  font-size:14px; 
  font-weight: 700;
}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

